<div class="container mt-4">
    <h3 class="bounce-title">Casos de Éxito de Alumnos:</h3>
    <br>
    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/random1.jpg" class="card-img-top img-thumbnail" alt="..." style="width: 285px; height: 210px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Alumno: Alan Enríque</h5>
                    <p class="card-text">En este apartado podrás ver todo lo que el alumno realizó.</p>
                    <a href="/casoexito1" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/random2.jpg" class="card-img-top img-thumbnail" alt="..." style="width: 285px; height: 210px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Alumno: Juan Pablo</h5>
                    <p class="card-text">En este apartado podrás ver todo lo que el alumno realizó.</p>
                    <a href="/casoexito2" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/random4.jpg" class="card-img-top img-thumbnail" alt="..." style="width: 285px; height: 210px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Alumno: Almendaris</h5>
                    <p class="card-text">En este apartado podrás ver todo lo que el alumno realizó.</p>
                    <a href="/casoexito3" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/random3.jpg" class="card-img-top img-thumbnail" alt="..." style="width: 285px; height: 210px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Alumno: Cristhian Yair</h5>
                    <p class="card-text">En este apartado podrás ver todo lo que el alumno realizó.</p>
                    <a href="/casoexito4" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>