<div class="collage-container">
    <div class="collage">
      <!-- Imágenes del collage -->
      <!-- Texto sobre las imágenes -->
      <h1 appMouseListener style="padding: 10px;" class="text-overlay animated-text">Preguntas Frecuentes</h1>
    </div>
  </div>

<div class="container mt-4">

    <!-- Buscador -->
    <div class="input-group mb-3">
        <input appMouseListener type="text" class="form-control" placeholder="Buscar pregunta..."
            (input)="search($event.target.value)" />
        <div class="input-group-append">
            <button appMouseListener class="btn btn-outline-secondary" type="button" (click)="search('')">Limpiar</button>
        </div>
    </div>

    <!-- Lista de preguntas frecuentes -->
    <div class="accordion" id="accordionExample">
        <div *ngFor="let faq of filteredFaqs" class="accordion-item">
            <h2 appMouseListener class="accordion-header" [attr.id]="'heading' + faq.id">
                <button appMouseListener class="accordion-button" type="button" [attr.data-bs-toggle]="'collapse'"
                    [attr.data-bs-target]="'#collapse' + faq.id" [attr.aria-expanded]="faq.expanded"
                    [attr.aria-controls]="'collapse' + faq.id" (click)="toggleAccordion(faq)">
                    {{ faq.pregunta }}
                </button>
            </h2>
            <div [attr.id]="'collapse' + faq.id" class="accordion-collapse collapse"
                [attr.aria-labelledby]="'heading' + faq.id" data-bs-parent="#accordionExample">
                <div appMouseListener class="accordion-body">
                    {{ faq.respuesta }}
                </div>
            </div>
        </div>
    </div>
</div>