<div class="container mt-4">
    <h2>Preguntas Frecuentes</h2>

    <!-- Buscador -->
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar pregunta..."
            (input)="search($event.target.value)" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="search('')">Limpiar</button>
        </div>
    </div>

    <!-- Lista de preguntas frecuentes -->
    <div class="accordion" id="accordionExample">
        <div *ngFor="let faq of filteredFaqs" class="accordion-item">
            <h2 class="accordion-header" [attr.id]="'heading' + faq.id">
                <button class="accordion-button" type="button" [attr.data-bs-toggle]="'collapse'"
                    [attr.data-bs-target]="'#collapse' + faq.id" [attr.aria-expanded]="faq.expanded"
                    [attr.aria-controls]="'collapse' + faq.id" (click)="toggleAccordion(faq)">
                    {{ faq.pregunta }}
                </button>
            </h2>
            <div [attr.id]="'collapse' + faq.id" class="accordion-collapse collapse"
                [attr.aria-labelledby]="'heading' + faq.id" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{ faq.respuesta }}
                </div>
            </div>
        </div>
    </div>
</div>