<!--
<nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading1">Como empezo?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading2">Como lo hizo?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#scrollspyHeading3">Recomendaciones</a>
      </li>
    </ul>
</nav>
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
    <h4 id="scrollspyHeading1">Como Inicio Todo:</h4>
    <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
    <h4 id="scrollspyHeading2">Second heading</h4>
    <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
    <h4 id="scrollspyHeading3">Third heading</h4>
    <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
</div>
-->
<div class="row">
    <div class="col-4">
      <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
        <nav class="nav nav-pills flex-column">
          <a appMouseListener class="nav-link" href="#item-1" class="color">Que hizo?</a>
            <br>
          <a appMouseListener class="nav-link" href="#item-3">Como lo hizo?</a>
            <br>
        </nav>
      </nav>
    </div>
  
    <div class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
        <div id="item-1">
          <h4 appMouseListener>Que realize: </h4>
          <p appMouseListener>Inicie un proyecto en el que participarón alumnos como representante de presidente de republica escolar</p>
        </div>
        <div id="item-3">
          <h5 appMouseListener>Como Inicie este camino:</h5>
          <p appMouseListener>Al iniciar como postulante me dedique a crear una comunidad en la que todos pudieran tener un voto para realizar comentarios o donde pudieran ser escuchados, por lo que busque el tener la voz más alta para que nosotros pudieramos ser eescuchados.</p>
        </div>
      </div>
    </div>
    <a href="/exitos" class="btn btn-secondary text-left">Volver</a>
</div>


