<div class="container">
    <h1 appMouseListener class="title">Necesita información adicional</h1>
    <div class="phone">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Icon-call.svg/2048px-Icon-call.svg.png"
            alt="Phone icon">
        <p appMouseListener>Si necestia informacion adicional referenta a algun apartado o necesita resolver alguna duda
            favor de contactarnos</p>
    </div>
    <form>
        <div class="form-group">
            <label appMouseListener for="name">Nombre:</label>
            <input type="text" class="form-control" id="name" placeholder="Nombre">
        </div>
        <div class="form-group">
            <label appMouseListener for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label appMouseListener for="message">Mensaje:</label>
            <textarea class="form-control" id="message" rows="3" placeholder="Mensaje"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>