h2{
    text-align: center;
    color: rgb(3, 3, 3);
}

.aguila{
    width: 200px;
    margin: 0 auto;
    display: block;
    animation: aguila 5s infinite;
}

@keyframes aguila {
    0%{
        translateY: (-50%);
    }
    30%{
        transform: translateY(0) rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(5deg);
    }
    100%{
        translateY: (-50px);
    }
}

body{
    
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2c/Universidad_Tecnologica_del_Norte_de_Guanajuato_%28UTNG%29%2C_Dolores_Hidalgo%2C_Guanajuato_-_Entrada.jpg");
}