<br>
<div class="container d-flex justify-content-center align-items-center">
  <div class="card hover-card" style="width: 18rem;">
    <img src="../../../assets/images/random2.jpg" class="card-img-top img-thumbnail" style="width: 285px; height: 210px; object-fit: cover;" alt="Alumno" style="color: black;">
  </div>
</div>
<br>
<div class="container mt-4">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          ¿Qué hizo?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p appMouseListener class="text-justify">
            Fui un estidiante que a travez de esfuerzo y dedicación logro viajar a Francia en el programa de la universidad.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          ¿Cómo lo hizo?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p appMouseListener class="text-justify">
            Tomé la decisión de usar mi padre escolar en el curso de francés cuando de repente programa que te da la oportunidad de poder estudiar una licencia profesional el proceso fue muy ameno la universidad en todo momento me apoyó quisiera comentarles que estos cursos de francés son totalmente gratuitos además de que cuando ustedes realizan los diversos exámenes llegan a conocer otros estados llegan a conocer otras ciudades y en todo el apoyo todo el apoyo mediático.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <a href="/exitos" class="btn btn-secondary text-left float-end">Volver</a>
  <br>
</div>



