@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  background-color: #fff;
  color: #fff;
  height: 100vh;
}

.high-contrast {
  filter: invert(1) hue-rotate(180deg);
}

.high-contrast img {
  filter: invert(1) hue-rotate(180deg);
}

.bg-color {
  background-color: #003366 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.floating-button {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 1000;
}

.enabled {
  background-color: blue;
  color: white;
}

.disabled {
  background-color: white;
  color: black;
}